@import "../../node_modules/nes.css/css/nes.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Press Start 2P", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  .home {
    padding: 40px 20px;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
    .options {
      margin-top: auto;
    }
  }
}

.btn-group-select-mode .nes-btn {
  margin-right: 10px;
}

.options {
  button.toggle-option:not(:last-child) {
    margin-right: 1rem;
  }
}

@keyframes blinking {
  0% {
    color: #f7d51d;
  }
  50% {
    color: black;
  }
  100% {
    color: #f7d51d;
  }
}
.nes-text.is-warning {
  animation: blinking 1.5s infinite;
}

.mb-2 {
  margin-bottom: 10px;
}

.item > *:not(:last-child) {
  margin-bottom: 1.5rem !important;
}

.d-none {
  display: none;
}

.title-end {
  margin-left: auto !important;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px transparent;
  }
  50% {
    box-shadow: 0 0 30px #21c7ed;
  }
  100% {
    box-shadow: 0 0 20px transparent;
  }
}
.toggle-option.glowing {
  animation: glowing 1.5s infinite, blinking 1.5s infinite;
}
